<div nz-row [nzGutter]="24">
    <div nz-col [nzMd]="24">
        <nz-card [nzBordered]="false">
            <form nz-form [formGroup]="editForm" class="submit-form">
                <input type="hidden" name="id" formControlName="id"/>
                <nz-form-item>
                    <nz-form-label [nzSm]="2" [nzXs]="24" nzRequired>编码</nz-form-label>
                    <nz-form-control [nzSm]="22" [nzXs]="24">
                        <input type="text"
                               name="code"
                               formControlName="code"
                               nz-input
                               placeholder="请输入">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="2" [nzXs]="24" nzRequired>名称</nz-form-label>
                    <nz-form-control [nzSm]="22" [nzXs]="24">
                        <input type="text"
                               name="name"
                               formControlName="name"
                               nz-input
                               placeholder="请输入">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="2" [nzXs]="24" nzRequired>状态</nz-form-label>
                    <nz-form-control [nzSm]="22" [nzXs]="24">
                        <nz-radio-group formControlName="isActive">
                            <label nz-radio nzValue="1">启用</label>
                            <label nz-radio nzValue="0">禁用</label>
                        </nz-radio-group>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="2" [nzXs]="24" >备注</nz-form-label>
                    <nz-form-control [nzSm]="22" [nzXs]="24">
                        <textarea name="remark" formControlName="remark" nz-input
                                  [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="2" [nzXs]="24" >应用权限</nz-form-label>
                    <nz-form-control [nzSm]="22" [nzXs]="24">
                        <app-tree-table
                            [config]="config"
                            [columns]="columns"
                            [data]="data">
                        </app-tree-table>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <div class="form-button">
                        <button nz-button (click)="goBack()">返回</button>
                        <button nz-button nzType="primary" (click)="submitForm()">提交</button>
                    </div>
                </nz-form-item>
            </form>
        </nz-card>
    </div>
</div>
<!-- START row-->
<ng-template #rowType let-row>
    <span *ngIf="row.type === global.APPLICATION_SERVICE">应用服务</span>
    <span *ngIf="row.type === global.APPLICATION_INTERFACE">应用接口</span>
    <span *ngIf="row.type === global.APPLICATION_MENU">应用菜单</span>
    <span *ngIf="row.type === global.APPLICATION_HEADING">应用菜单组</span>
</ng-template>
<!-- END row-->
<!-- START row-->
<ng-template #rowIsActive let-row>
    <span *ngIf="row.isActive === global.ACTIVE_TRUE">启用</span>
    <span *ngIf="row.isActive === global.ACTIVE_FALSE">禁用</span>
</ng-template>
<!-- END row-->
<!-- START row-->
<ng-template #rowPermission let-row>
    <nz-checkbox-wrapper style="width: 100%;">
        <div>
            <div style="display: inline" *ngFor="let permission of row.permissions;">
                <label nz-checkbox
                       [nzValue]="permission.id"
                       [ngModel]="permissionIds.includes(permission.id)"
                        (click)="permissionChange(row, permission.id)">
                    {{permission.name}}
                </label>
            </div>
        </div>
    </nz-checkbox-wrapper>
</ng-template>
<!-- END row-->