<div class="login-page-wapper">
    <div>
        <nz-card [nzTitle]="nzTitle" [nzBordered]="false" class="ant-card__primary ant-card__title-img">
            <ng-template #nzTitle>
                <!--<div class="text-center"><img src="./assets/img/logo.svg" style="height:20px;"></div>-->
                <div class="text-center"><p>Welcome to the Thirteen Framework</p></div>
            </ng-template>
            <div class="login-form">
                <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" role="form">
                    <nz-form-item class="login-form-item">
                        <nz-form-control>
                            <nz-input-group nzPrefixIcon="anticon anticon-user">
                                <input nz-input formControlName="account" placeholder="账号" [nzSize]="'large'" (keyup)="onkeyupBreak()">
                            </nz-input-group>
                            <nz-form-explain *ngIf="validateForm.get('account')?.dirty&&validateForm.get('account')?.hasError('required')">账号必填</nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="login-form-item">
                        <nz-form-control>
                            <nz-input-group nzPrefixIcon="anticon anticon-lock">
                                <input nz-input formControlName="password" placeHolder="密码" type="password" [nzSize]="'large'" (keyup)="onkeyupBreak()">
                            </nz-input-group>
                            <nz-form-explain *ngIf="validateForm.get('password').dirty&&validateForm.get('password').hasError('required')">密码必填</nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item nz-row class="login-form-item">
                        <div nz-col [nzSpan]="12">
                            <label nz-checkbox formControlName="rememberMe">
                                <span>记住密码</span>
                            </label>
                        </div>
                        <div nz-col [nzSpan]="12" class="text-right">
                            <a [routerLink]="['/forget']">忘记密码？</a>
                        </div>
                    </nz-form-item>
                    <nz-form-item nz-row class="login-form-item">
                        <div>
                            <button nz-button [disabled]="!validateForm.valid" [nzType]="'primary'" [nzSize]="'large'"
                                    [nzLoading]="loading" class="login-form-button">
                                <span>登录</span>
                            </button>
                        </div>
                    </nz-form-item>
                </form>
            </div>
        </nz-card>
    </div>
</div>
