<div nz-row [nzGutter]="32">
    <div nz-col [nzMd]="24">
        <nz-card [nzBordered]="false">
            <form nz-form [formGroup]="editForm" class="submit-form">
                <input type="hidden" name="id" formControlName="id"/>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">账号</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text"
                               name="account"
                               formControlName="account"
                               nz-input>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">来源路径</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text"
                               name="requestPath"
                               formControlName="requestPath"
                               nz-input>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">状态</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text"
                               name="status"
                               formControlName="status"
                               nz-input>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">登录时间</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text"
                               name="loginTime"
                               formControlName="loginTime"
                               nz-input>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" >信息</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <textarea name="message" formControlName="message" nz-input [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </nz-card>
    </div>
</div>