<div nz-row [nzGutter]="32">
    <div nz-col [nzMd]="6" [nzXXl]="4">
        <nz-card [nzBordered]="false">
            <nz-spin [nzSpinning]="treeLoading">
                <p>所有应用</p>
                <nz-tree
                    #treeApp
                    [nzData]="nodes"
                    [nzShowExpand]="true"
                    (nzClick)="activeNode($event)">
                    <ng-template #nzTreeTemplate let-node>
                        <span class="custom-node" [class.active]="activedNode?.key===node.key">
                          <span *ngIf="!node.isLeaf">
                            <i nz-icon [type]="node.isExpanded ? 'folder-open' : 'folder'" (click)="openFolder(node, $event)"></i>
                            <span class="folder-name">{{node.title}}</span>
                          </span>
                          <span *ngIf="node.isLeaf">
                            <i nz-icon type="file"></i>
                            <span class="file-name">{{node.title}}</span>
                          </span>
                        </span>
                    </ng-template>
                </nz-tree>
            </nz-spin>
        </nz-card>
    </div>
    <div nz-col [nzMd]="18" [nzXXl]="20">
        <nz-card [nzBordered]="false">
            <form class="search-form">
                <div nz-row [nzGutter]="32">
                    <div nz-col [nzMd]="8">
                        <nz-form-item class="form-item">
                            <nz-form-label>编码</nz-form-label>
                            <nz-form-control>
                                <input id="code" name="code" nz-input placeholder="请输入" [(ngModel)]="params.code">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzMd]="8">
                        <nz-form-item class="form-item">
                            <nz-form-label>名称</nz-form-label>
                            <nz-form-control>
                                <input id="name" name="name" nz-input placeholder="请输入" [(ngModel)]="params.name">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzMd]="8">
                        <div class="form-button">
                            <button nz-button nzType="primary" (click)="list()" [nzLoading]="false">查询</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="button-group">
                <button *ngIf="perms.save" nz-button nzType="primary" (click)="showSave()"><i nz-icon [type]="'plus'" [theme]="'outline'"></i>新增</button>
            </div>
            {{params.types}}
            <nz-table
                #rowSelectionTable
                nzShowSizeChanger
                [nzFrontPagination]="false"
                [nzData]="tableData"
                [nzLoading]="loading"
                [nzTotal]="total"
                [(nzPageIndex)]="pageNum"
                [(nzPageSize)]="pageSize"
                (nzPageIndexChange)="list()"
                (nzPageSizeChange)="list()">
                <thead nzSingleSort>
                <tr>
                    <th nzShowSort [(nzSort)]="sortMap.code" (nzSortChange)="sort('code', $event)">编码</th>
                    <th nzShowSort [(nzSort)]="sortMap.name" (nzSortChange)="sort('name', $event)">名称</th>
                    <th nzShowSort [(nzSort)]="sortMap.url" (nzSortChange)="sort('url', $event)">路径</th>
                    <th nzShowSort [(nzSort)]="sortMap.sort" (nzSortChange)="sort('sort', $event)">排序</th>
                    <th nzShowSort [(nzSort)]="sortMap.type"
                        (nzSortChange)="sort('type', $event)"
                        nzShowFilter [nzFilters]="types"
                        (nzFilterChange)="filter($event, params.isActive)">类型</th>
                    <th nzShowSort [(nzSort)]="sortMap.is_active"
                        (nzSortChange)="sort('is_active', $event)"
                        nzShowFilter
                        [nzFilters]="isActives"
                        [nzFilterMultiple]="false"
                        (nzFilterChange)="filter(params.types, $event)"><span>状态</span></th>
                    <th *ngIf="perms.update || perms.delete"><span>操作</span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of tableData">
                    <td>{{data.code}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.url}}</td>
                    <td>{{data.sort}}</td>
                    <td>
                        <span *ngIf="data.type === global.PERMISSION_LOGIN">需登录</span>
                        <span *ngIf="data.type === global.PERMISSION_AUTHOR">需认证</span>
                        <span *ngIf="data.type === global.PERMISSION_PERMS">需授权</span>
                    </td>
                    <td>
                        <span *ngIf="data.isActive === global.ACTIVE_TRUE">启用</span>
                        <span *ngIf="data.isActive === global.ACTIVE_FALSE">禁用</span>
                    </td>
                    <td *ngIf="perms.update || perms.delete">
                        <a *ngIf="perms.update" (click)="showUpdate(data.id)">修改</a>
                        <nz-divider *ngIf="perms.update && perms.delete" nzType="vertical"></nz-divider>
                        <a *ngIf="perms.delete"
                           nz-popconfirm
                           [nzTitle]="global.DELETE_CONFIRM_MSG"
                           (nzOnConfirm)="confirmDelete(data.id)"
                           (nzOnCancel)="cancelDelete()"
                           nzPlacement="topRight">删除</a>
                    </td>
                </tr>
                </tbody>
            </nz-table>
        </nz-card>
    </div>
</div>
