.ant-menu-root, .ant-menu-light {
  margin-bottom: 40px;

  // 未折叠
  &.ant-menu-inline {

    // 用户信息块
    .user-block {
      height: 150px;
      padding: 15px 0;
      line-height: 1.52857143;

      // 头像
      > .user-block-picture {
        position: relative;
        width: 60px;
        margin: 0 auto;

        .user-block-status {
          position: relative;

          .img-thumbnail {
            padding: 2px;
            line-height: 1.52857143;
            background-color: #e1e2e3;
            border: 1px solid #e1e2e3;
            border-radius: 3px;
            -webkit-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            display: inline-block;
            max-width: 100%;
            height: auto;
          }

          // 图片圆形
          .img-circle {
            border-radius: 50%;
          }
        }
      }

      // 信息
      > .user-block-info {
        padding-top: 15px;
        text-align: center;
        white-space: nowrap;

        .user-block-name {
          color: #7D848F;
          display: block;
        }

        .user-block-role {
          font-size: 12px;
          color: #aaa;
          display: block;
        }
      }
    }
  }

  // 折叠
  &.ant-menu-vertical.ant-menu-inline-collapsed {

    // 用户信息块
    .user-block {
      height: 80px;
      padding: 15px 0;

      // 头像
      > .user-block-picture {
        float: none;
        margin: 0 auto;
        width: 50px;

        .user-block-status {
          position: relative;

          .img-thumbnail {
            padding: 2px;
            line-height: 1.52857143;
            background-color: #e1e2e3;
            border: 1px solid #e1e2e3;
            border-radius: 3px;
            -webkit-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            display: inline-block;
            max-width: 100%;
            height: auto;
          }

          // 图片圆形
          .img-circle {
            border-radius: 50%;
          }
        }
      }

      // 信息
      > .user-block-info {
        display: none;
      }
    }

    > .ant-menu-item-group {

      > ::ng-deep.ant-menu-item-group-title {
        display: none;
      }
    }
  }

}

.ant-menu-inline, .ant-menu-vertical-left {
  border-right: 0;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #1890ff;
}