.layout-fixed {
  height: auto;
  min-height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;

  .wrapper {
    margin-top: 60px;

    .aside {
      // 滚动时悬浮样式
      position: fixed;
      height: 100%;
      background: #fff;
      border-right: 1px solid #e8e8e8;

      > ::ng-deep .ant-layout-sider-children {
        height: 100%;
        overflow: auto;

        &::-webkit-scrollbar {/*滚动条整体样式*/
          width: 0;     /*高宽分别对应横竖滚动条的尺寸*/
          height: 0;
        }

        //&::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
        //  border-radius: 10px;
        //  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        //  background: #535353;
        //}
        //
        //&::-webkit-scrollbar-track {/*滚动条里面轨道*/
        //  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        //  border-radius: 10px;
        //  background: #EDEDED;
        //}
      }
    }

    .content-wrapper {
      margin-left: 200px;
      margin-bottom: 60px;
      background-color: #f5f7fa;
      border-bottom: 1px solid #cfdbe2;

      .breadcrumb {
        // 滚动时悬浮样式
        position: fixed;
        width: 100%;
        z-index: 1;
        // 普通样式
        height: 50px;
        padding-left: 24px;
        display: flex;
        align-items: center;
        background: #fff;
        border-bottom: 1px solid #cfdbe2;
      }

      .content {
        margin-top: 50px;
        padding: 24px;
        min-height: 360px;
      }

      &.collapsed {
        margin-left: 80px;
      }
    }
  }

  .footer {
    margin-left: 200px;
  }

}