<div nz-row [nzGutter]="32">
    <div nz-col [nzMd]="24">
        <nz-card [nzBordered]="false">
            <form class="search-form">
                <div nz-row [nzGutter]="32">
                    <div nz-col [nzMd]="8">
                        <nz-form-item class="form-item">
                            <nz-form-label>合同编码</nz-form-label>
                            <nz-form-control>
                                <input id="account" name="account" nz-input placeholder="请输入" [(ngModel)]="params.contractCode">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzMd]="8">
                        <nz-form-item class="form-item">
                            <nz-form-label>承租方</nz-form-label>
                            <nz-form-control>
                                <input id="name" name="name" nz-input placeholder="请输入" [(ngModel)]="params.lesseeName">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzMd]="8">
                        <div class="form-button">
                            <button nz-button nzType="primary" (click)="list()" [nzLoading]="false">查询</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="button-group">
                <button *ngIf="perms.save" nz-button nzType="primary" (click)="showSave()"><i nz-icon [type]="'plus'" [theme]="'outline'"></i>新增</button>
            </div>
            <nz-table
                #rowSelectionTable
                nzShowSizeChanger
                [nzFrontPagination]="false"
                [nzData]="tableData"
                [nzLoading]="loading"
                [nzTotal]="total"
                [(nzPageIndex)]="pageNum"
                [(nzPageSize)]="pageSize"
                (nzPageIndexChange)="list()"
                (nzPageSizeChange)="list()">
                <thead nzSingleSort>
                <tr>
                    <th>公司单位</th>
                    <th>负责人</th>
                    <th>联系电话</th>
                    <th>备注</th>
                    <th *ngIf="perms.update || perms.delete"><span>操作</span></th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>第三建公司</td>
                        <td>张三</td>
                        <td>137********</td>
                        <td>公司经理</td>
                        <td>
                            <a>修改</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a nz-popconfirm
                               [nzTitle]="global.DELETE_CONFIRM_MSG"
                               (nzOnConfirm)="confirmDelete('0')"
                               (nzOnCancel)="cancelDelete()"
                               nzPlacement="topRight">删除</a>
                        </td>
                    </tr>
                <!--<tr *ngFor="let data of tableData">-->
                <!--<td>{{data.account}}</td>-->
                <!--<td>{{data.name}}</td>-->
                <!--<td>{{data.email}}</td>-->
                <!--<td>-->
                <!--<span *ngIf="data.isActive === global.ACTIVE_TRUE">启用</span>-->
                <!--<span *ngIf="data.isActive === global.ACTIVE_FALSE">禁用</span>-->
                <!--</td>-->
                <!--<td>{{data.createTime}}</td>-->
                <!--<td>{{data.updateTime}}</td>-->
                <!--<td *ngIf="perms.update || perms.delete">-->
                <!--<a *ngIf="perms.update" (click)="showUpdate(data.id)">修改</a>-->
                <!--<nz-divider *ngIf="perms.update && perms.delete" nzType="vertical"></nz-divider>-->
                <!--<a *ngIf="perms.delete"-->
                <!--nz-popconfirm-->
                <!--[nzTitle]="global.DELETE_CONFIRM_MSG"-->
                <!--(nzOnConfirm)="confirmDelete(data.id)"-->
                <!--(nzOnCancel)="cancelDelete()"-->
                <!--nzPlacement="topRight">删除</a>-->
                <!--</td>-->
                <!--</tr>-->
                </tbody>
            </nz-table>
        </nz-card>
    </div>
</div>
