<div nz-row [nzGutter]="32">
    <div nz-col [nzMd]="24">
        <nz-card [nzBordered]="false">
            <form class="search-form">
                <div nz-row [nzGutter]="32">
                    <div nz-col [nzMd]="8">
                        <nz-form-item class="form-item">
                            <nz-form-label>账号</nz-form-label>
                            <nz-form-control>
                                <input id="account" name="account" nz-input placeholder="请输入" [(ngModel)]="params.account">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzMd]="8">
                        <nz-form-item class="form-item">
                            <nz-form-label>姓名</nz-form-label>
                            <nz-form-control>
                                <input id="name" name="name" nz-input placeholder="请输入" [(ngModel)]="params.name">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzMd]="8">
                        <div class="form-button">
                            <button nz-button nzType="primary" (click)="list()" [nzLoading]="false">查询</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="button-group">
                <button *ngIf="perms.save" nz-button nzType="primary" (click)="showSave()"><i nz-icon [type]="'plus'" [theme]="'outline'"></i>新增</button>
            </div>
            <nz-table
                #rowSelectionTable
                nzShowSizeChanger
                [nzFrontPagination]="false"
                [nzData]="tableData"
                [nzLoading]="loading"
                [nzTotal]="total"
                [(nzPageIndex)]="pageNum"
                [(nzPageSize)]="pageSize"
                (nzPageIndexChange)="list()"
                (nzPageSizeChange)="list()">
                <thead nzSingleSort>
                <tr>
                    <th nzShowSort [(nzSort)]="sortMap.account" (nzSortChange)="sort('account', $event)">账号</th>
                    <th nzShowSort [(nzSort)]="sortMap.name" (nzSortChange)="sort('name', $event)">姓名</th>
                    <!--<th nzShowFilter [nzFilters]="filterGender" (nzFilterChange)="updateFilter($event)">Gender</th>-->
                    <th nzShowSort [(nzSort)]="sortMap.email" (nzSortChange)="sort('email', $event)"><span>邮箱</span></th>
                    <th nzShowSort [(nzSort)]="sortMap.is_active"
                        (nzSortChange)="sort('is_active', $event)"
                        nzShowFilter
                        [nzFilters]="isActives"
                        [nzFilterMultiple]="false"
                        (nzFilterChange)="filter($event)"><span>状态</span></th>
                    <th nzShowSort [(nzSort)]="sortMap.create_time" (nzSortChange)="sort('create_time', $event)"><span>添加时间</span></th>
                    <th nzShowSort [(nzSort)]="sortMap.update_time" (nzSortChange)="sort('update_time', $event)"><span>修改时间</span></th>
                    <th *ngIf="perms.update || perms.delete"><span>操作</span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of tableData">
                    <td>{{data.account}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.email}}</td>
                    <td>
                        <span *ngIf="data.isActive === global.ACTIVE_TRUE">启用</span>
                        <span *ngIf="data.isActive === global.ACTIVE_FALSE">禁用</span>
                    </td>
                    <td>{{data.createTime}}</td>
                    <td>{{data.updateTime}}</td>
                    <td *ngIf="perms.update || perms.delete">
                        <a *ngIf="perms.update" (click)="showUpdate(data.id)">修改</a>
                        <nz-divider *ngIf="perms.update && perms.delete" nzType="vertical"></nz-divider>
                        <a *ngIf="perms.delete"
                            nz-popconfirm
                            [nzTitle]="global.DELETE_CONFIRM_MSG"
                            (nzOnConfirm)="confirmDelete(data.id)"
                            (nzOnCancel)="cancelDelete()"
                            nzPlacement="topRight">删除</a>
                    </td>
                </tr>
                </tbody>
            </nz-table>
        </nz-card>
    </div>
</div>
