<div nz-row [nzGutter]="32">
    <div nz-col [nzMd]="24">
        <nz-card [nzBordered]="false">
            <div class="button-group">
                <button *ngIf="perms.save" nz-button nzType="primary" (click)="showSave()"><i nz-icon [type]="'plus'" [theme]="'outline'"></i>新增</button>
            </div>
            <nz-spin [nzSpinning]="loading">
                <app-tree-table
                    [config]="config"
                    [columns]="columns"
                    [data]="data"
                    [loading]="loading">
                </app-tree-table>
            </nz-spin>
        </nz-card>
    </div>
</div>
<!-- START row-->
<ng-template #rowAction let-row>
    <a *ngIf="perms.update" style="text-decoration: none;" title="修改" (click)="showUpdate(row.id)">修改<span class="fa fa-fw fa-edit"></span></a>
    <nz-divider *ngIf="perms.update && perms.delete" nzType="vertical"></nz-divider>
    <a *ngIf="perms.delete"
       style="text-decoration: none;"
       title="删除"
       nz-popconfirm
       [nzTitle]="global.DELETE_CONFIRM_MSG"
       (nzOnConfirm)="confirmDelete(row.id)"
       (nzOnCancel)="cancelDelete()"
       nzPlacement="topRight">删除<span class="fa fa-fw fa-trash-o"></span></a>
</ng-template>
<!-- END row-->
