<ng-template ngFor let-menu [ngForOf]="menuData" let-i="index" let-odd="odd">
    <li *ngIf="menu?.group" nz-menu-group>
        <span title>{{menu.name}}</span>
    </li>
    <li *ngIf="!menu?.group && !sidebarService.hasChildren(menu)"
        [ngClass]="{'ant-menu-item-selected': sidebarService.isActive(getUrl(menu))}" nz-menu-item>
        <a [routerLink]="getUrl(menu)" (click)="onClick($event)">
                <span>
                    <i nz-icon [type]="menu?.icon" [theme]="'outline'"></i>
                    <span class="nav-text">{{menu.name}}</span>
                </span>
        </a>
    </li>
    <li *ngIf="sidebarService.hasChildren(menu)" [nzOpen]="sidebarService.isOpen(menu)" nz-submenu>
        <span title>
            <i nz-icon [type]="menu?.icon" [theme]="'outline'"></i>
            <span class="nav-text">{{menu.name}}</span>
        </span>
        <ul app-sidebar-menu [menuData]="menu.children">
        </ul>
    </li>
</ng-template>